{% comment %}
This partial template contains the HTML for a single paper entry in the feed,
matching the new, elegant design.
{% endcomment %}
<article class="paper-entry">
    <div class="paper-meta">
        <div class="meta-tags">
            {% for tag in paper.tags.all|slice:":3" %} {# Show up to 3 tags for a clean look #}
                <a href="{% url 'papers:paper_list' %}?tag={{ tag.name }}">
                    {{ tag.name|upper }}
                </a>
            {% endfor %}
        </div>
        <span class="meta-date">{{ paper.uploaded_at|date:"F d, Y" }}</span>
    </div>

    <a href="{% url 'papers:paper_detail' paper.pk %}" class="paper-title">
        {{ paper.title }}
    </a>
    
    <p class="paper-author">
        {% if paper.authors.all %}
            By {% for author in paper.authors.all %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %} | 
        {% endif %}
        Uploaded by <a href="{% url 'profiles:profile_view' paper.uploader.username %}">{{ paper.uploader.username }}</a>
    </p>

    <p class="paper-abstract">
        This section provides a brief overview of the research paper, highlighting its key findings and contributions to the field. Further details can be explored by clicking the link below.
    </p>
</article>

