{% comment %}
This partial template displays the user's profile stats in the sidebar.
{% endcomment %}

<style>
    .profile-stats-container {
        background-color: var(--secondary-color);
        padding: 1.5rem;
        text-align: center;
        display: grid;
        gap: 0.5rem;
    }
    .profile-stats-avatar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-stats-avatar img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }   
    .profile-stats-username {
        font-family: var(--heading-font);
        color: var(--heading-text-color);
        font-size: 2rem;
        text-transform: uppercase;
    }
    .stats {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .stat-item .count {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .stat-item .label {
        font-size: 0.8rem;
        color: var(--alt-text-color);
        text-transform: uppercase;
    }

    .follow-btn, .unfollow-btn {
        text-decoration: none;
        padding: 0.6rem 1.5rem;
        font-weight: 600;
        display: inline-block;
        transition: background-color 0.2s;
    }
    .follow-btn {
        background: var(--heading-text-color);
        color: var(--primary-color);
    }
    .unfollow-btn {
        background: var(--primary-color);
        color: var(--heading-text-color);
        border: 1px solid var(--border-color);
    }
</style>

<aside class="profile-stats-container">
    <div class="profile-stats-avatar">
        <img src="{{ profile_user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ profile_user.username }}" >
    </div>
    <h3 class="profile-stats-username">{{ profile_user.username }}</h3>

    {% if profile_user == user %}
    <div class="stats">
        <div class="stat-item">
            <span class="count">{{ following_count }}</span>
            <span class="label">Following</span>
        </div>
    </div>
    {% endif %}

    <div class="profile-action-btn">
        {% if profile_user != user %}
            {% if user in profile_user.followers.all %}
                <a href="{% url 'profiles:unfollow_user' profile_user.username %}" class="unfollow-btn">Unfollow</a>
            {% else %}
                <a href="{% url 'profiles:follow_user' profile_user.username %}" class="follow-btn">Follow</a>
            {% endif %}
        {% endif %}
    </div>
</aside>
